{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "standard",
  "rules": {
    "no-var": [
      "error"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ]
  },
  "plugins": [
    "html"
  ]
}
